nav {
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8rem 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 6px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  gap: 10px;
}

.nav-right > button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.nav-right .logout-button {
  background-image: url("./../assets/nav-logout.png");
}

.nav-right .login-button {
  background-image: url("./../assets/nav-login.png");
}

.nav-right .cart-button {
  background-image: url("./../assets/nav-cart.png");
}

.nav-right .user-button {
  background-image: url("./../assets/nav-user.png");
}
